<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />
<style>
    #layout-menu .popover-header img { top: 0; }
    .task-login #layout-content { text-align: left; }
</style>
<div id="layout-content" role="main">
 <div class="header">
  <a class="button icon task-menu-button" href="#menu"><span class="inner">Menu</span></a>
  <span class="header-title"></span>
 </div>
 <div class="frame-content scroller">
  <div class="boxerror">
   <div class="error-text">
    <h2 class="error-title">NO MORE LEAKS</h2>
    Oeps! De combinatie van jouw gebruikersnaam en wachtwoord is teruggevonden in gelekte gegevens.<br/>
    <br/>
    No More Leaks is een initiatief van de Nederlandse Politie, gericht op het proactief aanpakken van datalekken.<br/>
    In dit programma worden gegevens uit dergelijke lekken verzameld en versleuteld gedeeld met private partners. Het doel is om misbruik van inloggegevens te voorkomen en de veiligheid van jou, als gebruiker, te waarborgen.<br/>
    <br/>
    Deze melding betekent dat de combinatie van jouw gebruikersnaam en wachtwoord eerder onderdeel zijn geweest van een datalek. Hoewel dit niet per se betekent dat je gehackt bent, is het belangrijk om nu te handelen!<br/>
    <br/>
    <h3>Hoe nu verder:</h3>
    <ol>
     <li><b>Wijzig direct je wachtwoord.</b></li>
         Ga onmiddelijk naar de instellingen van je account en wijzig het wachtwoord. Zorg ervoor dat je nieuwe wachtwoord uniek is en voldoet aan de vereisten.
     <li><b>Wijzig ook je wachtwoorden elders.</b></li>
         Als je hetzelfde wachtwoord ook voor andere accounts gebruikt, raden we je sterk aan om ook daar het wachtwoord te wijzigen.
     <li><b>Hergebruik nooit oude wachtwoorden.</b></li>
         Het is belangrijk dat je nooit oude wachtwoorden opnieuw gebruikt. Bedenk altijd nieuwe, sterke wachtwoorden voor verschillende accounts.
    </ol>
    Voor meer informatie en tips over wachtwoordbeveiliging en online veiligheid kan je verder lezen op: <a href="https://veiliginternetten.nl/thema/basisbeveiliging/wachtwoorden/iemand-weet-mijn-wachtwoord/">https://veiliginternetten.nl/thema/basisbeveiliging/wachtwoorden/iemand-weet-mijn-wachtwoord/</a><br/>
    <br/>
    Dankzij No More Leaks en dergelijke initiatieven werken we samen aan een veiliger internet. Blijf alert en onderneem actie om je digitale identiteit te beschermen.
   </div>
  </div>
 </div>
</div>

<roundcube:include file="includes/footer.html" />
